<% provide(:title, "SignUp") %>

<h1 class="headline headline-one">アカウント作成</h1>

<div row>
  <div class="col-md-6 col-md-offset-3">
  <%= form_with(model: @user, local: true) do |f| %>
  
    <%= f.label :name, class: "label-signup" %>
    <%= f.text_field :name, class: "form-control" %>
  
    <%= f.label :email, class: "label-signup" %>
    <%= f.email_field :email, class: "form-control" %>
  
    <%= f.label :password, class: "label-signup" %>
    <%= f.password_field :password, class: "form-control" %>
  
    <%= f.label :password_confirmation, class: "label-signup" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <%= f.label "プロフィール画像" %>
    <%= f.file_field :image %>
  
    <%= f.submit "作成", class: "btn btn-block btn-primary btn-form" %>
  
  <% end %>
  </div>
</div>
